.green {
  color: greenyellow;
}

.stock-item {
  border: 3px solid black;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  height: 200px;
  background-color: #2d4573;
}

.stock-item__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.stock-item__header h1 {
  margin-right: 10px;
}

.stock-item__footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  text-align: right;
}
