.main-container {
  background-color: #4369b0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.search-input {
  padding: 0.8rem;
  width: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-input::placeholder {
  font-size: 1.2rem;
}

.stocks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .search-input {
    padding: 0.5rem;
  }

  .search-input::placeholder {
    font-size: 0.8rem;
  }

  .stocks-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
